#Crito-webpage {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #191919;
}
#Crito-webpage h1 {
  width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  padding: 4vw;
  padding-left: 0;
  margin: 0;
  line-height: 10vw;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage h1 {
    font-size: 5vw;
    padding: 2vw;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 7vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage h1 {
    font-size: 4vw;
    line-height: 4vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage h1 {
    font-size: 3.5vw;
    line-height: 5vw;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (min-width: 1920px) {
  #Crito-webpage h1 {
    font-size: 60px;
    line-height: 70px;
  }
}
#Crito-webpage h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 5vw;
  text-align: left;
  margin-top: 0;
}
@media (min-width: 768px) {
  #Crito-webpage h2 {
    padding-bottom: 2vw;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #Crito-webpage h2 {
    padding-bottom: 2vw;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
#Crito-webpage h3 {
  font-family: "DM Sans", sans-serif;
}
#Crito-webpage h5 {
  color: #F94D1C;
  font-size: 12px;
  padding-bottom: 1vw;
  font-weight: 600;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage h5 {
    text-align: center;
  }
}
@media (min-width: 992px) {
  #Crito-webpage h5 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage h5 {
    font-size: 15px;
  }
}
#Crito-webpage p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 2vw 0vw;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage p {
    padding: 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage p {
    text-align: left;
    padding: 1vw 0vw;
  }
}
#Crito-webpage .fa-regular, #Crito-webpage .fa-solid {
  font-size: 5vw;
}
@media (min-width: 768px) {
  #Crito-webpage .fa-regular, #Crito-webpage .fa-solid {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .fa-regular, #Crito-webpage .fa-solid {
    font-size: 2vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .fa-regular, #Crito-webpage .fa-solid {
    font-size: 1vw;
  }
}
#Crito-webpage .btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .btn-yellow i {
  margin-left: 8px;
}
#Crito-webpage .btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}
#Crito-webpage .btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .btn-black i {
  margin-left: 8px;
}
#Crito-webpage .btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}
#Crito-webpage .btn-transperant {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .btn-transperant i {
  margin-left: 8px;
}
#Crito-webpage .btn-transperant:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}
#Crito-webpage .btn-transperant2 {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .btn-transperant2 i {
  margin-left: 8px;
}
#Crito-webpage .btn-transperant2:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}
#Crito-webpage .play-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .play-button i {
  margin-left: 8px;
}
#Crito-webpage .play-button:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}
#Crito-webpage header {
  background-color: #F0EFE9;
  padding: 16px;
}
#Crito-webpage header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
@media (min-width: 992px) {
  #Crito-webpage header .container {
    gap: 0px;
  }
}
#Crito-webpage header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #Crito-webpage header .container .menu-bars {
    display: none;
  }
}
#Crito-webpage header .container .menu {
  display: none;
}
@media (min-width: 992px) {
  #Crito-webpage header .container .menu {
    display: block;
  }
}
#Crito-webpage header .container .top-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #DAD9D3;
}
#Crito-webpage header .container .contact-information {
  display: flex;
}
#Crito-webpage header .container .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
#Crito-webpage header .container .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
#Crito-webpage header .container .main-menu nav a.active {
  font-weight: 600;
}
#Crito-webpage header .container .main-menu nav a.active::after, #Crito-webpage header .container .main-menu nav a:hover:after {
  content: "";
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
#Crito-webpage header .container .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}
#Crito-webpage header .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
}
#Crito-webpage header .content-box i {
  margin-right: 5px;
  font-size: 3vw;
}
@media (min-width: 992px) {
  #Crito-webpage header .content-box i {
    font-size: 1.5vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage header .content-box i {
    font-size: 1vw;
  }
}
#Crito-webpage header .content-box.last {
  border: none;
}
#Crito-webpage header .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
#Crito-webpage header .social-media a:hover {
  color: #666666;
}
#Crito-webpage .crito-1 {
  background: #F0EFE9;
  position: relative;
}
#Crito-webpage .crito-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-1 .container {
    display: flex;
    flex-direction: space-between;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .container {
    flex-direction: row;
  }
}
#Crito-webpage .crito-1 .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  z-index: 1;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .container .content {
    text-align: left;
    padding: 0;
  }
}
#Crito-webpage .crito-1 .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-1 .container .content a {
    width: 50%;
    margin: 2vw auto 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .container .content a {
    display: unset;
    margin-right: 10px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-1 .container .content a {
    width: 50%;
    margin: 2vw 1vw 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .container .content .text-area {
    margin-top: -10vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .container p {
    padding: 3vw 0;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-1 .container p {
    padding: 2vw 0;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-1 .container p {
    padding: 1vw 0;
  }
}
#Crito-webpage .crito-1 img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 img {
    display: block;
    margin-right: -100px;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-1 img {
    margin-right: -50px;
  }
}
#Crito-webpage .crito-1 .header-picture2 {
  position: absolute;
  top: 15%;
  left: 0;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-1 .header-picture2 {
    top: 10%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .header-picture2 {
    top: 82%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-1 .header-picture2 {
    top: 72%;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-1 .header-picture2 {
    top: 72%;
  }
}
#Crito-webpage .crito-1 .header-picture2 img {
  width: 70%;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-1 .header-picture2 img {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-1 .header-picture2 img {
    width: 100%;
  }
}
#Crito-webpage .crito-2 .content .partnership-brands {
  padding-top: 2vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partnership-brands {
    padding: 2vw 0 5vw 0;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  #Crito-webpage .crito-2 .content .partnership-brands {
    padding: 3vw 0 3vw 0;
  }
}
@media (min-width: 992px) and (min-width: 1600px) {
  #Crito-webpage .crito-2 .content .partnership-brands {
    padding: 2vw 0 2vw 0;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partnership-brands::before {
    display: none;
  }
  #Crito-webpage .crito-2 .content .partnership-brands::after {
    display: none;
  }
}
#Crito-webpage .crito-2 .content .partnership-brands img {
  width: 30%;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .content .partnership-brands img {
    width: 15%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partnership-brands img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-2 .content .partnership-brands img {
    width: 70%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partner-border {
    padding: 5vw 6.25vw 7vw;
    max-width: 95vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partnership-border {
    padding: 5vw;
    padding-top: 0;
  }
}
#Crito-webpage .crito-2 .content .partnership-section {
  padding: 5vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .content .partnership-section {
    padding: 4vw 4vw 4vw 4vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .partnership-section {
    display: flex;
    margin: auto;
    padding: 2vw;
    max-width: 95vw;
    border: 1px solid #DAD9D3;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .textarea-left {
    text-align: left;
    width: 40%;
    padding: 2vw;
  }
}
#Crito-webpage .crito-2 .content .textarea-left .center-button-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .content .textarea-left .center-button-group {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .textarea-left .center-button-group {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .content .textarea-right {
    padding: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .textarea-right {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2vw;
    width: 60%;
    text-align: left;
  }
}
#Crito-webpage .crito-2 .content .textarea-right h3 {
  font-size: 4vw;
  font-weight: 700;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .content .textarea-right h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .textarea-right h3 {
    font-size: 1.85vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-2 .content .textarea-right h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-2 .content .textarea-right .partnership-section-card {
  padding: 2vw 2vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .content .textarea-right .partnership-section-card {
    padding: 2.5vw 1.875vw;
    text-align: left;
  }
}
#Crito-webpage .crito-2 .content .textarea-right .partnership-section-card svg {
  height: 2.5vw;
  width: 2.5vw;
  padding-bottom: 1.5vw;
}
#Crito-webpage .crito-2 .partnership-section-mobile {
  display: flex;
  padding: 5vw 0vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .partnership-section-mobile {
    padding: 2vw 0vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .partnership-section-mobile {
    display: block;
    padding: 2vw 1vw;
  }
}
#Crito-webpage .crito-2 .partnership-section-left {
  border: 1px solid #DAD9D3;
  padding: 5vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .partnership-section-left {
    border: none;
    padding: 2vw;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-2 .partnership-section-left {
    padding: 5vw;
  }
}
#Crito-webpage .crito-2 .partnership-section-left .center-button-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#Crito-webpage .crito-2 .partnership-section-left .btn-yellow {
  width: 100%;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-2 .partnership-section-left .btn-yellow {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-2 .partnership-section-left .btn-yellow {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-2 .partnership-section-left .btn-yellow {
    width: 70%;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container {
    display: flex;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .container {
    padding: 2vw 5vw;
    padding-bottom: 7vw;
  }
}
#Crito-webpage .crito-3 .container .text-area {
  background: #BEEBFF;
  padding: 5vw;
  width: 80%;
  z-index: 2;
  margin-top: -25vw;
  margin-left: 5vw;
  position: relative;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .text-area {
    margin-top: -18vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .container .text-area {
    padding: 3vw;
    margin-left: -6vw;
    margin-top: -13vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-3 .container .text-area {
    padding: 2vw;
    margin-left: -6vw;
    margin-top: -14vw;
  }
}
#Crito-webpage .crito-3 .container .text-area h3 {
  font-size: 4vw;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .text-area h3 {
    font-size: 2.7vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .container .text-area h3 {
    font-size: 2vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-3 .container .text-area h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-3 .container .text-area h3 .orange {
  color: #F94D1C;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .text-area h3 .orange {
    font-size: 12px;
  }
}
#Crito-webpage .crito-3 .container .text-area p {
  font-style: italic;
  padding-right: 15vw;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .text-area p {
    padding: 0;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .content-section-pic {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .container .content-section-pic {
    width: 40%;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .container .content {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .container .content {
    width: 60%;
  }
}
#Crito-webpage .crito-3 .picture {
  z-index: 0;
}
#Crito-webpage .crito-3 img {
  width: 100%;
}
#Crito-webpage .crito-3 .company-box-left {
  padding: 5vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .company-box-left {
    text-align: left;
    padding: 2vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-3 .company-box-left {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
#Crito-webpage .crito-3 .company-box-left p {
  text-align: left;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .company-box-left p {
    padding: 1vw 2vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-3 .company-box-left p {
    padding-bottom: 5vw;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-3 .company-box-left p {
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .company-box-left h2 {
    text-align: left;
    padding: 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .company-box-left h2 {
    padding: 0 2vw;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .company-box-left h5 {
    text-align: left;
    padding: 0 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .company-box-left h5 {
    padding: 0 2vw;
  }
}
#Crito-webpage .crito-3 .company-box-left .button-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-3 .company-box-left .button-group {
    padding: 0 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-3 .company-box-left .button-group {
    flex-direction: unset;
    place-content: space-around;
    padding: 0 2vw;
  }
}
#Crito-webpage .crito-4 {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 10vw;
  padding-bottom: 20vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 {
    padding-bottom: 5vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-4 {
    padding-top: 75px;
    padding-bottom: 15px;
  }
}
#Crito-webpage .crito-4 .our-services-boxes {
  background: #fff;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .our-services-boxes {
    background: none;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .our-services-boxes {
    display: flex;
  }
}
#Crito-webpage .crito-4 .our-services-boxes .gallery-cell {
  width: 100%;
  height: 400px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .our-services-boxes .gallery-cell {
    padding: 5vw 15vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .our-services-boxes .gallery-cell {
    display: none;
  }
}
#Crito-webpage .crito-4 .our-services-boxes .flickity-button, #Crito-webpage .crito-4 .our-services-boxes .flickity-prev-next-button {
  display: none;
}
#Crito-webpage .crito-4 .our-services-boxes .flickity-page-dots {
  bottom: -35px;
}
#Crito-webpage .crito-4 h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 h3 {
    font-size: 1.85vw;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-4 h3 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .box1, #Crito-webpage .crito-4 .box2, #Crito-webpage .crito-4 .box3, #Crito-webpage .crito-4 .box4 {
    border: 1px solid #DAD9D3;
    background: #fff;
    padding: 10vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .box1, #Crito-webpage .crito-4 .box2, #Crito-webpage .crito-4 .box3, #Crito-webpage .crito-4 .box4 {
    width: 25%;
    padding: 3vw;
    background: #fff;
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-4 .box1, #Crito-webpage .crito-4 .box2, #Crito-webpage .crito-4 .box3, #Crito-webpage .crito-4 .box4 {
    padding: 2vw;
  }
}
#Crito-webpage .crito-4 .box1 .round-arrow, #Crito-webpage .crito-4 .box2 .round-arrow, #Crito-webpage .crito-4 .box3 .round-arrow, #Crito-webpage .crito-4 .box4 .round-arrow {
  text-align: right;
}
#Crito-webpage .crito-4 .box1 .fa-solid, #Crito-webpage .crito-4 .box2 .fa-solid, #Crito-webpage .crito-4 .box3 .fa-solid, #Crito-webpage .crito-4 .box4 .fa-solid {
  font-size: 10vw;
  cursor: pointer;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .box1 .fa-solid, #Crito-webpage .crito-4 .box2 .fa-solid, #Crito-webpage .crito-4 .box3 .fa-solid, #Crito-webpage .crito-4 .box4 .fa-solid {
    font-size: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .box1 .fa-solid, #Crito-webpage .crito-4 .box2 .fa-solid, #Crito-webpage .crito-4 .box3 .fa-solid, #Crito-webpage .crito-4 .box4 .fa-solid {
    font-size: 3vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-4 .box1 .fa-solid, #Crito-webpage .crito-4 .box2 .fa-solid, #Crito-webpage .crito-4 .box3 .fa-solid, #Crito-webpage .crito-4 .box4 .fa-solid {
    font-size: 45px;
  }
}
#Crito-webpage .crito-4 .box1 .fa-solid:hover, #Crito-webpage .crito-4 .box2 .fa-solid:hover, #Crito-webpage .crito-4 .box3 .fa-solid:hover, #Crito-webpage .crito-4 .box4 .fa-solid:hover {
  color: #666666;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .box2 {
    background: #F9D783;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .white {
    color: white;
  }
}
#Crito-webpage .crito-4 .center-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vw;
  padding-bottom: 0vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .center-button-group {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .center-button-group {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
#Crito-webpage .crito-4 .header-background {
  position: absolute;
  top: 86.6%;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-4 .header-background {
    top: 72.6%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-4 .header-background {
    top: 72.6%;
    left: 28%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-4 .header-background {
    top: 73.6%;
    left: 51%;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-4 .header-background {
    top: 74.6%;
    left: 59%;
  }
}
@media (min-width: 1920px) {
  #Crito-webpage .crito-4 .header-background {
    top: 79.6%;
    left: 71%;
  }
}
#Crito-webpage .crito-4 .header-background img {
  width: 100%;
}
#Crito-webpage .crito-5 {
  padding-top: 10vw;
  padding-bottom: 0vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-5 {
    padding-top: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 {
    padding-bottom: 5vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-5 {
    padding-top: 75px;
    padding-bottom: 15px;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .flex-section {
    display: flex;
  }
}
#Crito-webpage .crito-5 .flex-section .picture {
  background-color: #F0EFE9;
  padding: 5vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .flex-section .picture {
    width: 50%;
    padding: 0;
    background-color: transparent;
    margin-top: -12vw;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  #Crito-webpage .crito-5 .flex-section .picture {
    margin-top: -10vw;
  }
}
#Crito-webpage .crito-5 .flex-section .picture .picture-background {
  background-color: #F0EFE9;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .flex-section .picture .picture-background {
    background-color: #F0EFE9;
    padding: 17vw;
    margin-left: -10vw;
    margin-top: -22vw;
    margin-right: -9vw;
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-5 .flex-section .picture .picture-background {
    margin-left: -10vw;
    margin-top: -20vw;
    margin-right: -12vw;
    padding: 13vw;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-5 .flex-section .picture .picture-background {
    margin-left: -10vw;
    margin-top: -19vw;
    margin-right: -25vw;
    padding: 12vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .four-things-group {
    width: 50%;
  }
}
#Crito-webpage .crito-5 .four-things-group .one-thing {
  padding: 2vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .four-things-group .one-thing {
    padding: 0;
  }
}
#Crito-webpage .crito-5 .four-things-group .one-thing h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-5 .four-things-group .one-thing h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-5 .four-things-group .one-thing h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-5 .four-things-group .one-thing h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-5 .four-things-group .one-thing p {
  padding: 0;
}
#Crito-webpage .crito-5 .four-things-group i {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 50%;
}
#Crito-webpage .crito-6 .container .text-area {
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-6 .container .text-area {
    padding-top: 80px;
  }
}
#Crito-webpage .crito-6 .container .text-area h5 {
  text-align: center;
}
#Crito-webpage .crito-6 .container .text-area h2 {
  text-align: center;
}
#Crito-webpage .crito-6 .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-6 .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
#Crito-webpage .crito-6 .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
#Crito-webpage .crito-6 .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
#Crito-webpage .crito-6 .container .project-and-cases .project h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-6 .container .project-and-cases .project h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-6 .container .project-and-cases .project h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-6 .container .project-and-cases .project h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-6 .container .project-and-cases .project .readmore {
  font-family: "Inter", sans-serif;
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
  padding: 15px;
}
#Crito-webpage .crito-6 .container .project-and-cases .project i {
  margin-left: 3px;
}
#Crito-webpage .crito-6 .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
#Crito-webpage .crito-6 .container .center-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 15vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-6 .container .center-button-group {
    padding-top: 5vw;
    padding-bottom: 10vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-6 .container .center-button-group {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}
#Crito-webpage .crito-7 {
  padding-bottom: 10vw;
  padding-top: 10vw;
  background-color: #F0D082;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 {
    padding-bottom: 5vw;
    padding-top: 5vw;
  }
}
#Crito-webpage .crito-7 .content .carousel {
  padding-top: 15vw;
  padding-bottom: 15vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .content .carousel {
    padding-top: 0;
    padding-bottom: 3vw;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .content .textarea {
    padding-bottom: 5vw;
  }
}
#Crito-webpage .crito-7 .content .textarea .center-button-group {
  padding-top: 5vw;
  text-align: center;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .content .textarea .center-button-group {
    padding-top: 0vw;
    padding-bottom: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -8vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-7 .content .textarea .center-button-group {
    margin-top: -6vw;
  }
}
#Crito-webpage .crito-7 .gallery-cell {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0D082 !important;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .gallery-cell {
    padding: 5vw 15vw;
    background: #fff;
    padding-top: 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .gallery-cell {
    display: none;
  }
}
#Crito-webpage .crito-7 .gallery-cell .gallery-image {
  padding: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #F0D082;
}
#Crito-webpage .crito-7 .gallery-cell .gallery-image h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .gallery-cell .gallery-image h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .gallery-cell .gallery-image h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-7 .gallery-cell .gallery-image h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-7 .gallery-cell .gallery-image p {
  padding: 0vw;
  text-align: left;
}
#Crito-webpage .crito-7 .gallery-cell img {
  width: 100%;
}
#Crito-webpage .crito-7 .gallery-cell-dt {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0D082;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .gallery-cell-dt {
    padding: 3vw;
    padding-top: 0;
  }
}
#Crito-webpage .crito-7 .gallery-cell-dt .gallery-image {
  background-color: #F0D082;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .gallery-cell-dt .gallery-image {
    padding: 1vw;
  }
}
#Crito-webpage .crito-7 .gallery-cell-dt .gallery-image h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .gallery-cell-dt .gallery-image h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .gallery-cell-dt .gallery-image h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-7 .gallery-cell-dt .gallery-image h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-7 .gallery-cell-dt .gallery-image p {
  padding: 0vw;
  text-align: left;
}
#Crito-webpage .crito-7 .gallery-cell-dt img {
  width: 100%;
}
#Crito-webpage .crito-7 .carousel.is-fullscreen .gallery-cell-dt {
  height: 100%;
}
#Crito-webpage .crito-7 .gallery-cell img {
  display: block;
  max-height: 100%;
}
#Crito-webpage .crito-7 .flickity-button, #Crito-webpage .crito-7 .flickity-prev-next-button {
  display: none;
}
#Crito-webpage .crito-7 .flickity-page-dots {
  bottom: 30px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .flickity-page-dots {
    bottom: 20px;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .flickity-page-dots {
    bottom: 60px;
  }
}
#Crito-webpage .crito-7 .testimonial-box {
  padding: 5vw;
  background: #fff;
}
#Crito-webpage .crito-7 .testimonial-box .text-area {
  text-align: center;
}
#Crito-webpage .crito-7 .testimonial-box .text-area h2, #Crito-webpage .crito-7 .testimonial-box .text-area h5 {
  text-align: center;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes {
    display: flex;
    justify-content: center;
  }
}
#Crito-webpage .crito-7 .testimonial-box .our-services-boxes p {
  padding: 0;
  text-align: left;
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes p {
    font-size: 13px;
  }
}
#Crito-webpage .crito-7 .testimonial-box .our-services-boxes .orange {
  color: #F94D1C;
  font-weight: 600;
}
#Crito-webpage .crito-7 .testimonial-box .our-services-boxes h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box1, #Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box2, #Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box3 {
  width: 100%;
  padding: 5vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box1, #Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box2, #Crito-webpage .crito-7 .testimonial-box .our-services-boxes .box3 {
    width: 33%;
    padding: 1vw 3vw;
  }
}
#Crito-webpage .crito-7 .testimonial-box .our-services-boxes .star-image {
  padding-bottom: 1vw;
}
#Crito-webpage .crito-7 .testimonial-box .client-picture {
  width: 100%;
}
#Crito-webpage .crito-7 .testimonial-box .client-picture .img {
  width: 100%;
}
#Crito-webpage .crito-7 .testimonial-box .client-picture .client {
  padding: 10px;
}
#Crito-webpage .crito-8 {
  padding-bottom: 10vw;
  padding-top: 10vw;
  background-color: #fff;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 {
    padding-bottom: 5vw;
    padding-top: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 {
    padding-bottom: 0vw;
    padding-top: 5vw;
  }
}
#Crito-webpage .crito-8 .content .carousel {
  padding-top: 15vw;
  padding-bottom: 15vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .content .carousel {
    padding-top: 0;
    padding-bottom: 5vw;
  }
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .content .textarea {
    padding-bottom: 5vw;
  }
}
#Crito-webpage .crito-8 .content .textarea .center-button-group {
  padding-top: 5vw;
  text-align: center;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .content .textarea .center-button-group {
    padding-top: 0vw;
    padding-bottom: 0;
    padding-left: 5vw;
    padding-right: 0vw;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -8vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-8 .content .textarea .center-button-group {
    margin-top: -6vw;
  }
}
#Crito-webpage .crito-8 .gallery-cell {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .gallery-cell {
    padding: 5vw 15vw;
    background: #fff;
    padding-top: 2vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell {
    display: none;
  }
}
#Crito-webpage .crito-8 .gallery-cell .gallery-image {
  padding: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #fff;
  position: relative;
}
#Crito-webpage .crito-8 .gallery-cell .gallery-image .gallery-date {
  position: absolute;
  top: 3%;
  left: 8%;
  background: #F9D783;
  padding: 15px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .gallery-cell .gallery-image .gallery-date {
    top: 4%;
    left: 11%;
  }
}
#Crito-webpage .crito-8 .gallery-cell .gallery-image h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .gallery-cell .gallery-image h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell .gallery-image h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-8 .gallery-cell .gallery-image h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-8 .gallery-cell .gallery-image p {
  padding: 0vw;
  text-align: left;
}
#Crito-webpage .crito-8 .gallery-cell img {
  width: 100%;
}
#Crito-webpage .crito-8 .gallery-cell-dt {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell-dt {
    padding: 0vw;
    padding-top: 0;
  }
}
#Crito-webpage .crito-8 .gallery-cell-dt .gallery-image {
  background-color: #fff;
  position: relative;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image {
    padding: 1vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image .gallery-date {
    position: absolute;
    top: 5%;
    left: 8%;
    background: #F9D783;
    padding: 12px;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image .gallery-date {
    top: 8%;
    left: 8%;
    padding: 12px;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image .gallery-date {
    top: 10%;
    left: 10%;
  }
}
#Crito-webpage .crito-8 .gallery-cell-dt .gallery-image h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-8 .gallery-cell-dt .gallery-image h3 {
    font-size: 16px;
  }
}
#Crito-webpage .crito-8 .gallery-cell-dt .gallery-image p {
  padding: 0vw;
  text-align: left;
  padding-top: 5px;
  color: #191919;
}
#Crito-webpage .crito-8 .gallery-cell-dt img {
  width: 100%;
}
#Crito-webpage .crito-8 .carousel.is-fullscreen .gallery-cell-dt {
  height: 100%;
}
#Crito-webpage .crito-8 .gallery-cell img {
  display: block;
  max-height: 100%;
}
#Crito-webpage .crito-8 .flickity-button, #Crito-webpage .crito-8 .flickity-prev-next-button {
  display: none;
}
#Crito-webpage .crito-8 .flickity-page-dots {
  bottom: 30px;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-8 .flickity-page-dots {
    bottom: 20px;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-8 .flickity-page-dots {
    bottom: 60px;
  }
}
#Crito-webpage .signup-section {
  background-color: #F0EFE9;
}
#Crito-webpage .signup-section .signupform {
  padding: 5vw;
}
#Crito-webpage .signup-section .signupform input[type=text], #Crito-webpage .signup-section .signupform .input[type=submit] {
  width: 100%;
  padding: 15px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F0EFE9;
  box-sizing: border-box;
  border-radius: 25px;
}
#Crito-webpage .signup-section .signupform input[type=checkbox] {
  margin-top: 16px;
}
#Crito-webpage .signup-section .signupform input[type=submit] {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
#Crito-webpage .signup-section .signupform input[type=submit] i {
  margin-left: 8px;
}
#Crito-webpage .signup-section .signupform input[type=submit]:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
}
#Crito-webpage .signup-section .signupform input[type=submit]:hover {
  opacity: 0.8;
}
@media (min-width: 992px) {
  #Crito-webpage .signup-section .signup-textarea {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
#Crito-webpage .signup-section .signup-textarea .button-container {
  padding-bottom: 5vw;
}
@media (min-width: 992px) {
  #Crito-webpage .signup-section .signup-textarea .button-container {
    padding-bottom: 0;
  }
}
#Crito-webpage .signup-section .signup-textarea h2 {
  padding-top: 2vw;
}
#Crito-webpage footer {
  height: 80vw;
  background-color: #0E1021;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #Crito-webpage footer {
    height: 40vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage footer {
    height: 32vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage footer {
    height: 25vw;
  }
}
#Crito-webpage footer svg,
#Crito-webpage footer h3,
#Crito-webpage footer a,
#Crito-webpage footer p {
  color: #fff;
  font-size: 12px;
}
#Crito-webpage footer h3 {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}
#Crito-webpage footer .footer-maintext {
  display: none !important;
}
@media (min-width: 992px) {
  #Crito-webpage footer .footer-maintext {
    display: inline !important;
    text-align: left;
  }
}
#Crito-webpage footer .footer-links-container {
  padding: 4vw 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-gap: 2vw;
}
@media (min-width: 768px) {
  #Crito-webpage footer .footer-links-container {
    padding: 4vw 1vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage footer .footer-links-container {
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
  }
}
#Crito-webpage footer .footer-links-container::before {
  display: none;
}
#Crito-webpage footer .footer-links-container::after {
  display: none;
}
#Crito-webpage footer .footer-links-container .footer-content {
  display: flex;
  flex-direction: column;
}
#Crito-webpage footer .footer-links-container .footer-content:last-child {
  padding-right: 0vw;
}
#Crito-webpage footer .footer-links-container .footer-content h3 {
  padding-bottom: 1vw;
}
@media (min-width: 768px) {
  #Crito-webpage footer .footer-links-container .footer-content h3 {
    padding-bottom: 0;
  }
}
#Crito-webpage footer .footer-links-container .footer-content a {
  line-height: 4.5vw;
  text-decoration: none;
  font-weight: 500;
}
@media (min-width: 768px) {
  #Crito-webpage footer .footer-links-container .footer-content a {
    line-height: 2.5vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage footer .footer-links-container .footer-content a {
    line-height: 1.5vw;
  }
}
#Crito-webpage footer .footer-links-container .footer-content a:hover {
  text-decoration: underline;
}
#Crito-webpage footer .copy-right {
  height: 5vw;
  border-top: #666666 1px solid;
  padding: 0 1vw;
}
@media (min-width: 992px) {
  #Crito-webpage footer .copy-right .copy-right-items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#Crito-webpage footer .copy-right .copy-right-items::before {
  display: none;
}
#Crito-webpage footer .copy-right .copy-right-items::after {
  display: none;
}
#Crito-webpage footer .copy-right .copy-right-items svg {
  padding-right: 1em;
  cursor: pointer;
}
#Crito-webpage footer .copy-right .copy-right-items svg:last-child {
  padding-right: 0vw;
}
#Crito-webpage footer .copy-right .copy-right-items svg:hover {
  color: #f9d783;
}
#Crito-webpage footer .footer-social-media a {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 10px;
}
#Crito-webpage footer .footer-social-media a:hover {
  color: #666666;
}
#Crito-webpage .crito-contact-1 {
  background-color: #F0EFE9;
  padding-top: 5vw;
  padding-bottom: 15vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-1 {
    padding-bottom: 5vw;
  }
}
#Crito-webpage .crito-contact-1 .header-picture {
  position: absolute;
  top: 15%;
  left: 0;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-contact-1 .header-picture {
    top: 10%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-1 .header-picture {
    top: 12%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-1 .header-picture {
    top: 16%;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-contact-1 .header-picture {
    top: 17%;
  }
}
@media (min-width: 1920px) {
  #Crito-webpage .crito-contact-1 .header-picture {
    top: 19%;
  }
}
#Crito-webpage .crito-contact-1 .header-picture img {
  width: 100%;
}
#Crito-webpage .crito-contact-1 .header-picture2 {
  position: absolute;
  top: 15%;
  left: 0;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-contact-1 .header-picture2 {
    top: 10%;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-1 .header-picture2 {
    top: 17%;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-1 .header-picture2 {
    top: 23%;
  }
}
@media (min-width: 1600px) {
  #Crito-webpage .crito-contact-1 .header-picture2 {
    top: 24%;
  }
}
@media (min-width: 1920px) {
  #Crito-webpage .crito-contact-1 .header-picture2 {
    top: 27%;
  }
}
#Crito-webpage .crito-contact-1 .header-picture2 img {
  width: 100%;
}
#Crito-webpage .crito-contact-1 .small-main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
#Crito-webpage .crito-contact-1 .small-main-menu nav a.active {
  font-weight: 600;
}
#Crito-webpage .crito-contact-1 .small-main-menu nav a.active::after, #Crito-webpage .crito-contact-1 .small-main-menu nav a:hover:after {
  font-weight: 500;
}
#Crito-webpage .crito-contact-1 .text-area h2 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}
#Crito-webpage .crito-contact-2 {
  background-color: #fff;
  padding-top: 10vw;
  padding-bottom: 10vw;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 {
    padding-bottom: 5vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-2 {
    padding-top: 75px;
  }
}
#Crito-webpage .crito-contact-2 h5, #Crito-webpage .crito-contact-2 h2 {
  margin: 0px 15px 0px 15px;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 .our-services-boxes {
    display: flex;
  }
}
#Crito-webpage .crito-contact-2 h3 {
  font-size: 4vw;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-contact-2 h3 {
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 h3 {
    font-size: 1.85vw;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-2 h3 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 .box1, #Crito-webpage .crito-contact-2 .box2, #Crito-webpage .crito-contact-2 .box3 {
    width: 33%;
    padding: 3vw;
    background: #fff;
    border: 1px solid #DAD9D3;
    margin: 0px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-2 .box1, #Crito-webpage .crito-contact-2 .box2, #Crito-webpage .crito-contact-2 .box3 {
    padding: 2vw;
  }
}
#Crito-webpage .crito-contact-2 .box1 .round-arrow, #Crito-webpage .crito-contact-2 .box2 .round-arrow, #Crito-webpage .crito-contact-2 .box3 .round-arrow {
  text-align: center;
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 .box1 .round-arrow, #Crito-webpage .crito-contact-2 .box2 .round-arrow, #Crito-webpage .crito-contact-2 .box3 .round-arrow {
    text-align: left;
  }
}
#Crito-webpage .crito-contact-2 .box1 .fa-solid, #Crito-webpage .crito-contact-2 .box2 .fa-solid, #Crito-webpage .crito-contact-2 .box3 .fa-solid {
  font-size: 10vw;
}
@media (min-width: 768px) {
  #Crito-webpage .crito-contact-2 .box1 .fa-solid, #Crito-webpage .crito-contact-2 .box2 .fa-solid, #Crito-webpage .crito-contact-2 .box3 .fa-solid {
    font-size: 5vw;
  }
}
@media (min-width: 992px) {
  #Crito-webpage .crito-contact-2 .box1 .fa-solid, #Crito-webpage .crito-contact-2 .box2 .fa-solid, #Crito-webpage .crito-contact-2 .box3 .fa-solid {
    font-size: 3vw;
  }
}
@media (min-width: 1200px) {
  #Crito-webpage .crito-contact-2 .box1 .fa-solid, #Crito-webpage .crito-contact-2 .box2 .fa-solid, #Crito-webpage .crito-contact-2 .box3 .fa-solid {
    font-size: 45px;
  }
}
#Crito-webpage .crito-contact-3 .container {
  padding-bottom: 5vw;
}
#Crito-webpage .crito-contact-3 .container .content {
  padding: 5vw;
  background-color: #F0EFE9;
  text-align: center;
}
#Crito-webpage .crito-contact-3 .container .content h2 {
  text-align: center;
}
#Crito-webpage .crito-contact-3 .container .content .item.name_email {
  display: flex;
  flex-direction: column;
}
#Crito-webpage .crito-contact-3 .container .content .item {
  display: flex;
  flex-direction: column;
}
#Crito-webpage .crito-contact-3 .container .content .item textarea {
  height: 100px;
  resize: none;
}
#Crito-webpage .crito-contact-3 .container .content .item input[type=text],
#Crito-webpage .crito-contact-3 .container .content .item textarea {
  width: 100%;
  background: #fff;
  border: 2px solid #fff;
  color: #000;
  padding: 0 0 15px 0;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
}
#Crito-webpage .crito-contact-3 .container .content .btn {
  width: 100%;
  padding-top: 2vw;
}
#Crito-webpage .crito-contact-3 .container .content .btn .btn-yellow {
  width: 100%;
}
#Crito-webpage .crito-contact-3 .signup-location img {
  width: 100%;
}