
$breakpoints: (
    'xs': 375px,
    'sp': 421px,
    'sm': 768px,
    'md': 992px,
    'lg': 1200px,
    'xl': 1600px,
    'ret': 1920px
) !default;

@mixin respond-from($breakpoint) {
  // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
#Crito-webpage{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #191919;

    h1{
        width: 100%;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
        font-size: 8vw;
        padding: 4vw;
        padding-left: 0;
        margin: 0;
        line-height: 10vw;
        text-align: center;
        @include respond-from('sm'){
            font-size: 5vw;
            padding: 2vw;
            padding-bottom: 0;
            padding-left: 0;
            line-height: 8vw;
          }
          @include respond-from('md'){
            font-size: 4vw;
            line-height: 6vw;
            text-align: left;
          }
          @include respond-from('lg'){
            font-size: 4vw;
            line-height: 5vw;
          }
    }

    h3 {
        font-size: 1.375em;
        line-height: 2em;
      }

    p{
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        text-align: center;
        padding: 2vw 5vw;
        text-align: center;
        @include respond-from("sm"){
            padding: 2vw 20vw;
        }
        @include respond-from("md"){
            text-align: left;
            padding: 2vw 0vw;
        }
    }

    .btn-yellow{
        background-color: #F9D783;
        border: 1px solid #F9D783;
        color: #191919;
        text-decoration: none; 
        padding: 15px 30px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 25px;

        i{
            margin-left: 8px;
            font-size: 0.9em;
        }

        &:hover {
            background-color: #191919;
            border: 1px solid #191919;
            color: #ffffff;
        }
    }

    .btn-transperant{
        background-color: transparent;
        border: 1px solid #191919;
        color: #191919;
        text-decoration: none; 
        padding: 15px 30px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 25px;

        i{
            margin-left: 8px;
            font-size: 0.9em;
        }

        &:hover {
            background-color: #191919;
            border: 1px solid #191919;
            color: #ffffff;
        }
    }

header{
    background-color: #F0EFE9;
    padding: 16px;
    .container{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
    
        .menu-bars{
            font-size: 25px;
            border: none;
            background-color:transparent;
            @include respond-from("md"){
                display:none;
            }
        }
    
        .menu{
            display: none;
            @include respond-from("md"){
                display:block;
            }
        }
        .top-menu{
            display:flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #DAD9D3;
        }
        .contact-information{
            display:flex;
        
        }
    
        .main-menu{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
    
            nav{
                a{
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;
    
                    &.active{
                        font-weight: 600;
                    }
                    &.active::after,
                        &:hover:after {
                            content: '';
                        font-weight: 500;
                        position: absolute;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
    
                    }
                }
            }
        }
        .btn-login{
            padding-top: 12px;
            padding-bottom: 12px;
        }
}


    .content-box{
        padding-right: 30px;
        margin-right: 30px;
        border-right: 1px solid #DAD9D3;

        i{
            margin-right: 5px;
            font-size: 1.2em;
        }

        &.last{
            border: none;
        }
    }

    .social-media{
        a{
            color: #191919;
            font-size: 1.3rem;
            margin-left: 10px;

            &:hover{
                color: #666666;
            }
        }
    }
}


.showcase{
    background: #F0EFE9;
    .container{
        display: flex;
        flex-direction: space-between;
        align-items: center;
        .content{
            padding-top:40px;
            padding-bottom: 40px;
            text-align: center;
            @include respond-from("md"){
                text-align: left;
            }
            a{
                margin-right: 0px;
                display:block;
                margin-bottom: 20px;
                @include respond-from("md"){
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        
    }
    img{
        display: none;
        margin-right: -50px;
        @include respond-from("md"){
            display: block;
        }
    }
}
.partners{
    .partners-brands {
        padding: 4.5em 0 5em 0;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto auto;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
      }
      .partners-model {
        display: flex;
        margin: auto;
        padding: 5em 6.25em 7em;
        max-width: 95em;
        border: 1px solid #DAD9D3;
}    .partners-model-left {
    max-width: 28.75em;
    text-align:left;
    h5 {
     color: #F94D1C;
      font-size: 12px;
      padding-bottom: 1em;
      font-weight: 600;
      text-align:left;
    }
    h2 {
      font-size: 25px;
      font-weight: 900;
      padding-bottom: 1em;
      text-align: left;
    }
  }
  .partners-model-right {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 6em;
    .partners-model-card {
      padding: 2.5em 1.875em;
      svg {
        height: 2.5em;
        width: 2.5em;
        padding-bottom: 1.5em;
      }
      h3 {
        font-size: 1.375em;
        font-weight: 700;
      }
      
    }
  }
  .partners-model-left{
    .btn-yellow{
        width:100%;
    }
  }
}
footer {
    height: 32em;
    background-color: #0E1021;
    display: flex;
    flex-direction: column;
  
    svg,
    h3,
    a,
    p {
      color: #666666;
    }
    .footer-links-container {
      padding: 0 1em;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr auto;
      grid-gap: 2em;
      &::before{
        display: none;
    }
    &::after{
        display: none;
    }
  
      .footer-content {
        display: flex;
        flex-direction: column;
        &:last-child {
          padding-right: 0em;
        }
        h3 {
          padding-bottom: 1.5em;
        }
        a {
          line-height: 2.5em;
          text-decoration: none;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .copy-right {
      height: 5em;
      border-top: #666666 0.0625em solid;
      padding: 0 1em;
      .copy-right-items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        svg {
          padding-right: 1em;
          cursor: pointer;
          &:last-child {
            padding-right: 0em;
          }
          &:hover {
            color: #f9d783;
          }
        }
      }
    }
  }
}