$breakpoints: (
    'xs': 375px,
    'sp': 421px,
    'sm': 768px,
    'md': 992px,
    'lg': 1200px,
    'xl': 1600px,
    'ret': 1920px
) !default;

@mixin respond-from($breakpoint) {
  // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
#Crito-webpage {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: #191919;

  h1 {
    width: 100%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 8vw;
    padding: 4vw;
    padding-left: 0;
    margin: 0;
    line-height: 10vw;
    text-align: center;

    @include respond-from('sm') {
      font-size: 5vw;
      padding: 2vw;
      padding-bottom: 0;
      padding-left: 0;
      line-height: 7vw;
    }

    @include respond-from('md') {
      font-size: 4vw;
      line-height: 4vw;
      text-align: left;
    }

    @include respond-from('lg') {
      font-size: 3.5vw;
      line-height: 5vw;
    }

    @include respond-from('xl') {
      font-size: 70px;
      line-height: 70px;
    }

    @include respond-from('ret') {
      font-size: 60px;
      line-height: 70px;
    }
  }

  h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 5vw;
    text-align: left;
    margin-top: 0;

    @include respond-from("sm") {
      padding-bottom: 2vw;
      text-align: center;
    }

    @include respond-from("md") {
      padding-bottom: 2vw;
      font-size: 25px;
      line-height: 35px;
      text-align: left;

    }

    @include respond-from("lg") {
      font-size: 30px;
      line-height: 40px;
    }
  }

  h3 {
    font-family: 'DM Sans', sans-serif;
  }

  h5 {
    color: #F94D1C;
    font-size: 12px;
    padding-bottom: 1vw;
    font-weight: 600;
    text-align: left;

    @include respond-from("sm") {
      text-align: center;
    }

    @include respond-from("md") {
      text-align: left;
    }

    @include respond-from("lg") {
      font-size: 15px;
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 2vw 0vw;
    text-align: center;

    @include respond-from("sm") {
      padding: 2vw;
    }

    @include respond-from("md") {
      text-align: left;
      padding: 1vw 0vw;
    }

    @include respond-from("lg") {
      padding: 1vw 0;
    }
  }

  .fa-regular,
  .fa-solid {
    font-size: 5vw;

    @include respond-from("sm") {
      font-size: 2vw;
    }

    @include respond-from("md") {
      font-size: 2vw;
    }

    @include respond-from("lg") {
      font-size: 1vw;
    }

    @include respond-from("xl") {
      font-size: 0.8vw;
    }
  }

  .btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: #191919;
      border: 1px solid #191919;
      color: #ffffff;
    }
  }

  .btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: #ffffff;
      border: 1px solid #191919;
      color: #191919;
    }
  }

  .btn-transperant {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: #191919;
      border: 1px solid #191919;
      color: #ffffff;
    }
  }

  .btn-transperant2 {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: #191919;
      border: 1px solid #191919;
      color: #ffffff;
    }
  }

  .play-button {
    background-color: transparent;
    border: 1px solid transparent;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;

    i {
      margin-left: 8px;
    }

    &:hover {
      background-color: #191919;
      border: 1px solid #191919;
      color: #ffffff;
    }
  }

  header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 70px;

      @include respond-from("md") {
        gap: 0px;
      }

      .menu-bars {
        font-size: 25px;
        border: none;
        background-color: transparent;

        @include respond-from("md") {
          display: none;
        }
      }

      .menu {
        display: none;

        @include respond-from("md") {
          display: block;
        }
      }

      .top-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid #DAD9D3;
      }

      .contact-information {
        display: flex;

      }

      .main-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        nav {
          a {
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin-right: 35px;
            position: relative;

            &.active {
              font-weight: 600;
            }

            &.active::after,
            &:hover:after {
              content: '';
              font-weight: 500;
              position: absolute;
              height: 2px;
              width: 15px;
              background-color: #191919;
              left: 50%;
              bottom: -3px;
              transform: translate((calc(50% - 15px)));

            }
          }
        }
      }

      .btn-login {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }


    .content-box {
      padding-right: 30px;
      margin-right: 30px;
      border-right: 1px solid #DAD9D3;

      i {
        margin-right: 5px;
        font-size: 3vw;

        @include respond-from("md") {
          font-size: 1.5vw;
        }

        @include respond-from("lg") {
          font-size: 0.9vw;
        }

        @include respond-from("lg") {
          font-size: 0.8vw;
        }
      }

      &.last {
        border: none;
      }
    }

    .social-media {
      a {
        color: #191919;
        font-size: 1.3rem;
        margin-left: 10px;

        &:hover {
          color: #666666;
        }
      }
    }
  }

  .crito-1 {
    background: #F0EFE9;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond-from("sm") {
        display: flex;
        flex-direction: space-between;
      }

      @include respond-from("md") {
        flex-direction: row;
      }

      .content {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        z-index: 1;

        @include respond-from("md") {
          text-align: left;
          padding: 0;
        }

        a {
          margin-right: 0px;
          display: block;
          margin-bottom: 20px;

          @include respond-from("sm") {
            width: 50%;
            margin: 2vw auto 2vw;
          }

          @include respond-from("md") {
            display: unset;
            margin-right: 10px;
            margin: auto;
          }

          @include respond-from("lg") {
            width: 50%;
            margin: 2vw 1vw 2vw;
          }
        }

        .text-area {
          @include respond-from("md") {
            margin-top: -10vw;
          }
        }
      }

      p {
        @include respond-from("md") {
          padding: 3vw 0;
          padding-bottom: 5vw;
        }

        @include respond-from("lg") {
          padding: 2vw 0;
          padding-bottom: 5vw;
        }

        @include respond-from("xl") {
          padding: 1vw 0;
          padding-bottom: 3vw;
        }
      }


    }

    img {
      display: none;
      margin-right: -50px;

      @include respond-from("md") {
        display: block;
        margin-right: -100px;
      }

      @include respond-from("lg") {
        margin-right: -50px;
      }
    }

    .header-picture2 {
      position: absolute;
      top: 15%;
      left: 0;

      @include respond-from("sm") {
        top: 10%;
      }

      @include respond-from("md") {
        top: 82%;
      }

      @include respond-from("lg") {
        top: 72%;
      }

      @include respond-from("xl") {
        top: 72%;
      }

      img {
        width: 70%;

        @include respond-from("md") {
          width: 80%;
        }

        @include respond-from("lg") {
          width: 100%;
        }
      }
    }
  }

  .crito-2 {
    .content {
      .partnership-brands {
        padding-top: 2vw;

        @include respond-from("md") {
          padding: 2vw 0 5vw 0;
          display: grid;
          justify-content: center;
          grid-template-columns: auto auto auto auto auto;

          @include respond-from("lg") {
            padding: 3vw 0 3vw 0;
          }

          @include respond-from("xl") {
            padding: 2vw 0 2vw 0;
          }

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        img {
          width: 30%;

          @include respond-from("sm") {
            width: 15%;
          }

          @include respond-from("md") {
            width: 100%;
          }

          @include respond-from("lg") {
            width: 70%;
          }
        }
      }

      .partner-border {
        @include respond-from("md") {
          padding: 5vw 6.25vw 7vw;
          max-width: 95vw;
        }
      }

      .partnership-border {
        @include respond-from("md") {
          padding: 0vw;
          padding-top: 0;
        }
      }

      .partnership-section {
        padding: 5vw;

        @include respond-from("sm") {
          padding: 4vw 4vw 4vw 4vw;
        }

        @include respond-from("md") {
          display: flex;
          margin: auto;
          padding: 2vw;
          max-width: 95vw;
          border: 1px solid #DAD9D3;
        }
      }

      .textarea-left {
        @include respond-from("md") {
          text-align: left;
          width: 40%;
          padding: 2vw;
        }

        @include respond-from("xl") {
          width: 50%;
        }

        .center-button-group {
          display: flex;
          width: 100%;
          flex-direction: column;

          @include respond-from("sm") {
            width: 50%;
            margin: auto;
          }

          @include respond-from("md") {
            margin: 0;
            width: 100%;
            text-align: center;
          }
        }
      }

      .textarea-right {
        padding-top: 10vw;

        @include respond-from("sm") {
          padding: 5vw;
        }

        @include respond-from("md") {
          display: grid;
          grid-template-columns: auto auto;
          padding: 2vw;
          width: 75%;
          text-align: left;
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          color: #191919;
        }

        .partnership-section-card {
          padding: 2vw 2vw;

          @include respond-from("md") {
            padding: 2.5vw 1.875vw;
            text-align: left;
          }

          svg {
            height: 2.5vw;
            width: 2.5vw;
            padding-bottom: 1.5vw;
          }
        }
      }
    }

    .partnership-section-mobile {
      display: flex;
      padding: 5vw 0vw;

      @include respond-from("sm") {
        padding: 2vw 0vw;
      }

      @include respond-from("md") {
        display: block;
        padding: 1vw 1vw;
      }
    }

    .partnership-section-left {
      border: 1px solid #DAD9D3;
      padding: 5vw;

      @include respond-from("md") {
        border: none;
        padding: 2vw;
        width: 50%;
      }

      @include respond-from("lg") {
        padding: 5vw;
      }

      .center-button-group {
        display: flex;
        width: 100%;
        flex-direction: column;
      }

      .btn-yellow {
        width: 100%;

        @include respond-from("sm") {
          width: 50%;
        }

        @include respond-from("md") {
          width: 100%;
        }

        @include respond-from("lg") {
          width: 70%;
        }
      }
    }
  }

  .crito-3 {
    @include respond-from("sm") {
      padding-bottom: 5vw;
    }

    @include respond-from("lg") {
      padding-bottom: 2vw;
    }

    @include respond-from("ret") {
      padding-bottom: 0;
    }

    .container {
      @include respond-from("sm") {
        display: flex;
      }

      @include respond-from("md") {
        padding: 2vw 5vw;
        padding-bottom: 7vw;
        padding-top: 5vw;
      }

      .text-area {
        background: #BEEBFF;
        padding: 5vw;
        width: 80%;
        z-index: 2;
        margin-top: -25vw;
        margin-left: 5vw;
        position: relative;

        @include respond-from("sm") {
          margin-top: -18vw;
        }

        @include respond-from("md") {
          padding: 3vw;
          margin-left: -6vw;
          margin-top: -13vw;
        }

        @include respond-from("lg") {
          padding: 2vw;
          margin-left: -6vw;
          margin-top: -14vw;
        }

        @include respond-from("xl") {
          padding: 1vw;
          margin-left: -2vw;
          margin-top: -9vw;
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          font-family: 'DM Sans', sans-serif;
          text-align: left;

          @include respond-from("sm") {
            font-size: 2.7vw;
          }

          @include respond-from("md") {
            font-size: 2vw;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }

          .orange {
            color: #F94D1C;

            @include respond-from("sm") {
              font-size: 12px;
            }
          }
        }

        p {
          font-style: italic;
          padding-right: 15vw;
          text-align: left;
          font-size: 12px;

          @include respond-from("sm") {
            padding: 0;
          }
        }
      }

      .content-section-pic {
        @include respond-from("sm") {
          width: 50%;
        }

        @include respond-from("md") {
          width: 40%;
        }

      }

      .content {
        @include respond-from("sm") {
          width: 50%;
        }

        @include respond-from("md") {
          width: 60%;
        }

      }
    }

    .picture {
      z-index: 0;
    }

    img {
      width: 100%;
    }

    .company-box-left {
      padding: 5vw;

      @include respond-from("sm") {
        text-align: left;
        padding: 2vw;
        padding-top: 0;
        padding-bottom: 0;
      }

      @include respond-from("lg") {
        padding: 0px 0px;
        padding-left: 60px;
        padding-top: 0;
        padding-bottom: 0;
      }

      p {
        color: #191919;
        text-align: left;

        @include respond-from("md") {
          padding: 1vw 2vw;
        }

        @include respond-from("lg") {
          padding-bottom: 5vw;
        }

        @include respond-from("xl") {
          padding-bottom: 15px;
        }
      }

      h2 {
        @include respond-from("sm") {
          text-align: left;
          padding: 2vw;
        }

        @include respond-from("md") {
          padding: 0 2vw;
        }
      }

      h5 {
        @include respond-from("sm") {
          text-align: left;
          padding: 0 2vw;
        }

        @include respond-from("md") {
          padding: 0 2vw;
        }
      }

      .button-group {
        display: flex;
        flex-direction: column;

        @include respond-from("sm") {
          padding: 0 2vw;
        }

        @include respond-from("md") {
          flex-direction: unset;
          place-content: space-around;
          padding: 0 2vw;
        }
      }

      .play-button {
        margin-top: 2vw;

        @include respond-from("md") {
          margin-top: 0;
        }

        i {
          margin-right: 8px;
        }
      }
    }
  }

  .crito-4 {
    position: relative;
    background-color: #F0EFE9;
    padding-top: 10vw;
    padding-bottom: 20vw;

    @include respond-from("sm") {
      padding-top: 5vw;
      padding-bottom: 5vw;
    }

    @include respond-from("md") {
      padding-bottom: 5vw;
    }

    @include respond-from("lg") {
      padding-top: 75px;
      padding-bottom: 15px;
    }

    .our-services-boxes {
      background: #fff;

      @include respond-from("sm") {
        background: none;
      }

      @include respond-from("md") {
        display: flex;
      }

      .gallery-cell {
        width: 100%;
        height: 400px;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw;

        @include respond-from("sm") {
          padding: 5vw 15vw;
        }

        @include respond-from("md") {
          display: none;
        }
      }

      .flickity-button,
      .flickity-prev-next-button {
        display: none;
      }

      .flickity-page-dots {
        bottom: -35px;
      }
    }

    .text-area {
      @include respond-from("md") {
        margin: 0px 15px 0px 15px;
      }
    }

    h3 {
      font-size: 4vw;
      font-weight: 700;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;

      @include respond-from("sm") {
        font-size: 3vw;
      }

      @include respond-from("md") {
        font-size: 1.85vw;
        text-align: left;
        margin: 0;
      }

      @include respond-from("lg") {
        font-size: 16px;
      }
    }

    .box1,
    .box2,
    .box3,
    .box4 {
      @include respond-from("sm") {
        border: 1px solid #DAD9D3;
        background: #fff;
        padding: 10vw;
      }

      @include respond-from("md") {
        width: 25%;
        padding: 3vw;
        background: #fff;
        margin: 0px 15px 0px 15px;
      }

      @include respond-from("lg") {
        padding: 2vw;
      }

      @include respond-from("xl") {
        padding: 1.5vw;
        padding-top: 0;
      }

      .round-arrow {
        text-align: right;
      }

      .fa-solid {
        font-size: 10vw;
        cursor: pointer;

        @include respond-from("sm") {
          font-size: 5vw;
        }

        @include respond-from("md") {
          font-size: 2vw;
        }

        @include respond-from("lg") {
          font-size: 45px;
        }

        &:hover {
          color: #666666;
        }
      }
    }

    .box2 {
      @include respond-from("md") {
        background: #F9D783;
      }
    }

    .white {
      @include respond-from("md") {
        color: white;
      }
    }

    .center-button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 15vw;
      padding-bottom: 0vw;

      @include respond-from("sm") {
        padding-top: 10vw;
        padding-bottom: 5vw;
      }

      @include respond-from("md") {
        padding-top: 5vw;
        padding-bottom: 5vw;
      }
    }

    .header-background {
      position: absolute;
      top: 86.6%;

      @include respond-from("sm") {
        top: 72.6%;
      }

      @include respond-from("md") {
        top: 72.6%;
        left: 28%;
      }

      @include respond-from("lg") {
        top: 73.6%;
        left: 51%;
      }

      @include respond-from("xl") {
        top: 74.6%;
        left: 59%;
      }

      @include respond-from("ret") {
        top: 79.6%;
        left: 71%;
      }

      img {
        width: 100%;
      }
    }
  }

  .crito-5 {
    padding-top: 10vw;
    padding-bottom: 0vw;

    @include respond-from("sm") {
      padding-top: 5vw;
    }

    @include respond-from("md") {
      padding-bottom: 5vw;
    }

    @include respond-from("lg") {
      padding-top: 75px;
      padding-bottom: 15px;
    }

    .flex-section {
      @include respond-from("md") {
        display: flex;
      }

      .picture {
        background-color: #F0EFE9;
        padding: 5vw;

        @include respond-from("md") {
          width: 50%;
          padding: 0;
          background-color: transparent;
          margin-top: -12vw;

          @include respond-from("lg") {
            margin-top: -10vw;
          }
        }

        .picture-background {
          background-color: #F0EFE9;

          @include respond-from("md") {
            background-color: #F0EFE9;
            padding: 17vw;
            margin-left: -5vw;
            margin-top: -22vw;
            margin-right: -9vw;
            position: relative;
            z-index: -1;
          }

          @include respond-from("lg") {
            margin-left: -5vw;
            margin-top: -20vw;
            margin-right: -12vw;
            padding: 13vw;
          }

          @include respond-from("xl") {
            margin-left: -5vw;
            margin-top: -19vw;
            margin-right: -25vw;
            padding: 12vw;
          }

          @include respond-from("ret") {
            margin-left: -4vw;
            margin-top: -9vw;
            margin-right: -30vw;
            padding: 8vw;
          }
        }
      }
    }

    .four-things-group {
      @include respond-from("md") {
        width: 50%;
      }

      .one-thing {
        padding: 2vw;

        @include respond-from("md") {
          padding: 0;
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
            text-align: center;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          padding: 0;
          color: #191919;
          text-align: left;

          @include respond-from("sm") {
            margin-left: 60px;
            text-align: center;
          }

          @include respond-from("md") {
            text-align: left;
          }

          @include respond-from("lg") {
            margin-left: 50px;
          }
        }
      }

      i {
        border: 1px solid lightgray;
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .crito-6 {
    .container {
      .text-area {
        padding-top: 50px;
        padding-bottom: 20px;

        @include respond-from("sm") {
          padding-top: 80px;
        }

        h5 {
          text-align: center;
        }

        h2 {
          text-align: center;
        }
      }

      .project-and-cases {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include respond-from("sm") {
          grid-template-columns: 1fr 1fr;
        }

        .project {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto 1fr auto;
          color: #191919;
          text-decoration: none;

          img {
            width: 100%;
            height: auto;
          }

          h3 {
            font-size: 4vw;
            font-weight: 700;
            padding-top: 35px;
            padding-bottom: 16px;
            border-bottom: 1px solid #DAD9D3;
            text-align: center;

            @include respond-from("sm") {
              font-size: 3vw;
            }

            @include respond-from("md") {
              font-size: 1.85vw;
              text-align: left;
            }

            @include respond-from("lg") {
              font-size: 16px;
            }
          }

          .readmore {
            font-family: 'Inter', sans-serif;
            display: block;
            text-align: right;
            font-size: 14px;
            font-weight: 500;
            color: #191919;
            text-decoration: none;
            padding: 15px;
          }

          i {
            margin-left: 3px;
          }

          &:hover .readmore {
            text-decoration: underline;
          }

        }
      }

      .center-button-group {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10vw;
        padding-bottom: 15vw;

        @include respond-from("sm") {
          padding-top: 5vw;
          padding-bottom: 10vw;
        }

        @include respond-from("md") {
          padding-top: 5vw;
          padding-bottom: 5vw;
        }
      }
    }
  }

  .crito-7 {
    padding-bottom: 10vw;
    padding-top: 10vw;
    background-color: #F0D082;

    @include respond-from("sm") {
      padding-bottom: 5vw;
      padding-top: 5vw;
    }

    .content {
      .carousel {
        padding-top: 15vw;
        padding-bottom: 15vw;

        @include respond-from("sm") {
          padding-top: 0;
          padding-bottom: 3vw;
        }
      }

      .textarea {
        @include respond-from("sm") {
          padding-bottom: 5vw;
        }

        .center-button-group {
          padding-top: 5vw;
          text-align: center;

          @include respond-from("md") {
            padding-top: 0vw;
            padding-bottom: 0;
            padding-left: 5vw;
            padding-right: 5vw;
            display: flex;
            flex-direction: row-reverse;
            margin-top: -8vw;
          }

          @include respond-from("lg") {
            margin-top: -6vw;
          }
        }
      }
    }

    .gallery-cell {
      width: 100%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F0D082 !important;

      @include respond-from("sm") {
        padding: 5vw 15vw;
        background: #fff;
        padding-top: 2vw;
      }

      @include respond-from("md") {
        display: none;
      }

      .gallery-image {
        padding: 5vw;
        padding-bottom: 0;
        padding-top: 0;
        background-color: #F0D082;

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          padding: 0vw;
          text-align: left;
        }
      }

      img {
        width: 100%;
      }
    }

    .gallery-cell-dt {
      width: 100%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F0D082;

      @include respond-from("md") {
        padding: 3vw;
        padding-top: 0;
        padding-left: 0;
      }

      .gallery-image {
        background-color: #F0D082;

        @include respond-from("md") {
          padding: 1vw;
          padding-left: 0;
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          padding: 0vw;
          text-align: left;
        }
      }

      img {
        width: 100%;
      }
    }

    .carousel.is-fullscreen .gallery-cell-dt {
      height: 100%;
    }

    .gallery-cell img {
      display: block;
      max-height: 100%;
    }

    .flickity-button,
    .flickity-prev-next-button {
      display: none;
    }

    .flickity-page-dots {
      bottom: 30px;

      @include respond-from("sm") {
        bottom: 20px;
      }

      @include respond-from("md") {
        bottom: 45px;
      }

      @include respond-from("lg") {
        bottom: 45px;
      }
    }

    .testimonial-box {
      padding: 5vw;
      background: #fff;

      @include respond-from("lg") {
        padding: 2vw;
      }

      .text-area {
        text-align: center;

        h2,
        h5 {
          text-align: center;
        }
      }

      .our-services-boxes {
        @include respond-from("md") {
          display: flex;
          justify-content: center;
        }

        .flex-section {
          @include respond-from("md") {
            display: flex;
          }
        }

        p {
          padding: 0;
          text-align: left;

          @include respond-from("lg") {
            font-size: 13px;
          }
        }

        .orange {
          color: #F94D1C;
          font-weight: 600;
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        .box1,
        .box2,
        .box3 {
          width: 100%;
          padding: 5vw;

          @include respond-from("md") {
            width: 33%;
            padding: 1vw 3vw;
          }
        }

        .star-image {
          padding-bottom: 1vw;
        }

        .button-group {
          @include respond-from("md") {
            padding-bottom: 2vw;
          }
        }
      }
    }

    .client-picture {
      width: 100%;

      @include respond-from("md") {
        width: 33%;
      }

      .img {
        width: 100%;
      }

      .client {
        padding: 10px;
      }
    }


  }

  .crito-8 {
    padding-bottom: 10vw;
    padding-top: 10vw;
    background-color: #fff;

    @include respond-from("sm") {
      padding-bottom: 5vw;
      padding-top: 5vw;
    }

    @include respond-from("md") {
      padding-bottom: 0vw;
      padding-top: 5vw;
    }

    .content {
      .carousel {
        padding-top: 15vw;
        padding-bottom: 15vw;

        @include respond-from("sm") {
          padding-top: 0;
          padding-bottom: 5vw;
        }
      }

      .textarea {
        @include respond-from("sm") {
          padding-bottom: 5vw;
        }

        @include respond-from("lg") {
          padding-bottom: 2vw;
        }

        .center-button-group {
          padding-top: 5vw;
          text-align: center;

          @include respond-from("md") {
            padding-top: 0vw;
            padding-bottom: 0;
            padding-left: 5vw;
            padding-right: 0vw;
            display: flex;
            flex-direction: row-reverse;
            margin-top: -8vw;
          }

          @include respond-from("lg") {
            margin-top: -6vw;
          }
        }
      }
    }

    .gallery-cell {
      width: 100%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff !important;

      @include respond-from("sm") {
        padding: 5vw 15vw;
        background: #fff;
        padding-top: 2vw;
      }

      @include respond-from("md") {
        display: none;
      }

      .gallery-image {
        padding: 5vw;
        padding-bottom: 0;
        padding-top: 0;
        background-color: #fff;
        position: relative;

        .gallery-date {
          position: absolute;
          top: 3%;
          left: 8%;
          background: #F9D783;
          padding: 15px;

          @include respond-from("sm") {
            top: 4%;
            left: 11%;
          }
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          padding: 0vw;
          text-align: left;
        }
      }

      img {
        width: 100%;
      }
    }

    .gallery-cell-dt {
      width: 100%;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;

      @include respond-from("md") {
        padding: 0vw;
        padding-top: 0;
      }

      .gallery-image {
        background-color: #fff;
        position: relative;

        @include respond-from("md") {
          padding: 1vw;
          padding-left: 0;
        }

        .gallery-date {
          @include respond-from("md") {
            position: absolute;
            top: 5%;
            left: 8%;
            background: #F9D783;
            padding: 12px;
          }

          @include respond-from("lg") {
            top: 8%;
            left: 8%;
            padding: 12px;
          }

          @include respond-from("xl") {
            top: 10%;
            left: 10%;
          }
        }

        h3 {
          font-size: 4vw;
          font-weight: 700;
          padding-top: 0px;
          padding-bottom: 0px;
          text-align: left;

          @include respond-from("sm") {
            font-size: 3vw;
          }

          @include respond-from("md") {
            font-size: 1.85vw;
            text-align: left;
          }

          @include respond-from("lg") {
            font-size: 16px;
          }
        }

        p {
          padding: 0vw;
          text-align: left;
          padding-top: 5px;
          color: #191919;
        }
      }

      img {
        width: 100%;
      }
    }

    .carousel.is-fullscreen .gallery-cell-dt {
      height: 100%;
    }

    .gallery-cell img {
      display: block;
      max-height: 100%;
    }

    .flickity-button,
    .flickity-prev-next-button {
      display: none;
    }

    .flickity-page-dots {
      bottom: 30px;

      @include respond-from("sm") {
        bottom: 20px;
      }

      @include respond-from("md") {
        bottom: 35px;
      }

      @include respond-from("lg") {
        bottom: 50px;
      }
    }

  }

  .signup-section {
    background-color: #F0EFE9;
    position: relative;

    .container {
      .signupform {
        padding: 5vw;

        input[type=text],
        .input[type=submit] {
          width: 100%;
          padding: 15px 30px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #F0EFE9;
          box-sizing: border-box;
          border-radius: 25px;
        }

        input[type=checkbox] {
          margin-top: 16px;
        }

        input[type=submit] {
          background-color: #F9D783;
          border: 1px solid #F9D783;
          color: #191919;
          text-decoration: none;
          padding: 15px 30px;
          font-weight: 500;
          font-size: 16px;
          border-radius: 25px;
          transition: all 0.3s;

          i {
            margin-left: 8px;
          }

          &:hover {
            background-color: #191919;
            border: 1px solid #191919;
            color: #ffffff;
          }
        }

        input[type=submit]:hover {
          opacity: 0.8;
        }
      }

      .signup-textarea {
        @include respond-from("md") {
          display: flex;
          justify-content: space-around;
          align-items: baseline;
        }

        .button-container {
          padding-bottom: 5vw;

          @include respond-from("md") {
            padding-bottom: 0;
          }
        }

        h2 {
          padding-top: 2vw;
        }
      }

      .header-picture-background {
        position: absolute;
        top: 70%;
        left: 75%;
        width: 25%;

        @include respond-from("sm") {
          top: 75%;
          left: 86%;
          width: 15%;
        }

        @include respond-from("md") {
          top: 55%;
          left: 93%;
          width: 10%;
        }

        @include respond-from("lg") {
          top: 50%;
          left: 91%;
          width: 10%;
        }

        @include respond-from("xl") {
          left: 92%;
        }

        @include respond-from("ret") {
          left: 91%;
        }

        img {
          width: 100%;
        }
      }
    }

  }

  footer {
    height: 100vw;
    background-color: #0E1021;
    display: flex;
    flex-direction: column;
    position: relative;

    @include respond-from("sm") {
      height: 55vw;
    }

    @include respond-from("md") {
      height: 32vw;
    }

    @include respond-from("lg") {
      height: 25vw;
    }

    svg,
    h3,
    a,
    p {
      color: #fff;
      font-size: 12px;
    }

    h3 {
      font-weight: 700;
      font-size: 15px;
      color: #fff;
    }

    .footer-maintext {
      display: none !important;

      @include respond-from("md") {
        display: inline !important;
        text-align: left;
      }
    }

    .footer-links-container {
      padding: 4vw 1vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr auto;
      grid-gap: 2vw;
      padding-bottom: 20vw;

      @include respond-from("sm") {
        padding: 4vw 1vw;
      }

      @include respond-from("md") {
        grid-template-columns: 2fr 1fr 1fr 1fr auto;
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }


      .footer-content {
        display: flex;
        flex-direction: column;

        @include respond-from("md") {
          justify-content: space-evenly;
          align-items: flex-start;
        }

        &:last-child {
          padding-right: 0vw;
        }

        h3 {
          padding-bottom: 1vw;

          @include respond-from("sm") {
            padding-bottom: 0;
          }
        }

        a {
          line-height: 5.5vw;
          text-decoration: none;
          font-weight: 500;

          @include respond-from("sm") {
            line-height: 4.5vw;
          }

          @include respond-from("md") {
            line-height: 1.5vw;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .copy-right {
      height: 5vw;
      border-top: #666666 1px solid;
      padding: 0 1vw;

      .copy-right-items {
        @include respond-from("md") {
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        svg {
          padding-right: 1em;
          cursor: pointer;


          &:last-child {
            padding-right: 0vw;
          }

          &:hover {
            color: #f9d783;
          }
        }

      }
    }

    .footer-social-media {
      a {
        color: #fff;
        font-size: 1.3rem;
        margin-left: 10px;

        &:hover {
          color: #666666;
        }
      }
    }

    .header-picture3 {
      position: absolute;
      top: 48%;
      left: 40%;
      width: 70%;

      @include respond-from("sm") {
        top: 45%;
        left: 80%;
        width: 20%;
      }

      @include respond-from("md") {
        top: 49%;
        left: 80%;
        width: 20%;
      }

      @include respond-from("lg") {
        top: 43%;
        left: 81%;
      }

      @include respond-from("xl") {
        top: 39%;
      }

      @include respond-from("ret") {
        top: 35%;
      }

      img {
        width: 100%;
      }
    }
  }

  .crito-contact-1 {
    background-color: #F0EFE9;
    padding-top: 5vw;
    padding-bottom: 15vw;
    position: relative;

    @include respond-from("md") {
      padding-bottom: 5vw;
    }

    .header-picture {
      position: absolute;
      top: 41%;
      left: 0;

      @include respond-from("sm") {
        top: 10%;
      }

      @include respond-from("md") {
        top: 30%;
        width: 50%;
      }

      @include respond-from("lg") {
        top: 25%;
      }

      @include respond-from("xl") {
        top: 25%;
      }

      @include respond-from("ret") {
        top: 19%;
      }

      img {
        width: 100%;
      }
    }

    .header-picture2 {
      position: absolute;
      top: 15%;
      left: 0;

      @include respond-from("sm") {
        top: 10%;
      }

      @include respond-from("md") {
        top: 17%;
      }

      @include respond-from("lg") {
        top: 23%;
      }

      @include respond-from("xl") {
        top: 24%;
      }

      @include respond-from("ret") {
        top: 27%;
      }

      img {
        width: 100%;
      }
    }

    .small-main-menu {
      nav {
        a {
          display: inline-block;
          color: #191919;
          text-decoration: none;
          margin-right: 35px;
          position: relative;

          &.active {
            font-weight: 600;
          }

          &.active::after,
          &:hover:after {
            font-weight: 500;

          }
        }
      }
    }

    .text-area {
      h2 {
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
      }

    }

  }

  .crito-contact-2 {
    background-color: #fff;
    padding-top: 10vw;
    padding-bottom: 10vw;

    @include respond-from("md") {
      padding-bottom: 5vw;
    }

    @include respond-from("lg") {
      padding-top: 75px;
    }

    h5,
    h2 {
      margin: 0px 15px 0px 15px;
    }

    .our-services-boxes {
      @include respond-from("md") {
        display: flex;
      }
    }

    h3 {
      font-size: 4vw;
      font-weight: 700;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;

      @include respond-from("sm") {
        font-size: 3vw;
      }

      @include respond-from("md") {
        font-size: 1.85vw;
        text-align: left;
      }

      @include respond-from("lg") {
        font-size: 16px;
      }
    }

    .box1,
    .box2,
    .box3 {
      @include respond-from("md") {
        width: 33%;
        padding: 3vw;
        background: #fff;
        border: 1px solid #DAD9D3;
        margin: 0px 15px 0px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      @include respond-from("lg") {
        padding: 2vw;
      }

      .round-arrow {
        text-align: center;

        @include respond-from("md") {
          text-align: left;
        }
      }

      .fa-solid {
        font-size: 10vw;

        @include respond-from("sm") {
          font-size: 5vw;
        }

        @include respond-from("md") {
          font-size: 2vw;
        }

        @include respond-from("lg") {
          font-size: 45px;
        }

      }
    }
  }

  .crito-contact-3 {
    .container {
      padding-bottom: 5vw;

      .content {
        padding: 5vw;
        background-color: #F0EFE9;
        text-align: center;

        h2 {
          text-align: center;
        }

        .item.name_email {
          display: flex;
          flex-direction: column;
        }

        .item {
          display: flex;
          flex-direction: column;
        }

        .item textarea {
          height: 100px;
          resize: none;
        }

        .item input[type="text"],
        .item textarea {
          width: 100%;
          background: #fff;
          border: 2px solid #fff;
          color: #000;
          padding: 0 0 15px 0;
          border-radius: 25px;
          margin-bottom: 10px;
          padding-left: 15px;
          padding-top: 5px;
        }

        .btn {
          width: 100%;
          padding-top: 2vw;

          .btn-yellow {
            width: 100%;
          }
        }
      }
    }

    .signup-location {
      img {
        width: 100%;
      }
    }
  }
}